.App {
  text-align: justify;
}

i {
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.229);
}

i:hover {
  color: rgba(255, 255, 255, 0.455);
}

footer {
  padding: 20px;
}

.mb-3 {
  margin: none;
}
