* {
  font-family: "Nunito Sans", sans-serif;
}

footer i {
  font-size: 1.8em;
  color: rgb(73, 80, 87);
}

footer i:hover {
  color: rgb(255, 255, 255);
}

nav ul li:hover {
  text-decoration: underline;
}

.list-unstyled li:hover {
  font-weight: bold;
}

button {
  --bs-btn-hover-bg: #{shade-color(15%)};
}

.card .btn-primary:hover {
  background-color: rgb(13, 130, 253);
  border-color: rgb(13,130,253);
}

.card:hover {
  box-shadow: 3px 3px 10px;
  background-color: #efefef;
  transition: all 0.5s ease-in;
}