.App {
  text-align: justify;
}

i {
  font-size: 1.8em;
  color: rgb(73, 80, 87);
}

i:hover {
  color: rgb(255, 255, 255);
}

footer {
  padding: 20px;
}

nav ul li:hover {
  text-decoration: underline;
}

.list-unstyled li:hover {
  font-weight: bold;
}
